@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap');

.about-container {
  background-image: linear-gradient(rgba(32, 178, 170, 0.5), rgba(32, 178, 170, 0));
  padding-top: 2rem;
}

.row {
  height: 80vh; 
}



h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: navy;
  text-shadow: 1px 1px 1px white;
}

.about-section {
  padding-left: 1.5rem;
}

h3 {
  font-family: "Merriweather", serif;
  color: navy;
  /* text-shadow: 2px 2px 2px darkgray; */
}

ul {
  list-style-type: none;
  padding: 0;
  padding-bottom: 1rem;
}

.about-section li {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  color: black;
  text-shadow: 1px 1px 2px white;
  padding-bottom: 0.35rem;
}

.about-section img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.skills-section {
  border-left: 4px solid navy;
  padding-left: 1.5rem;
}

.skills-section-subheading {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.skills-section li {
  font-family: "Raleway", sans-serif;
  color: black;
  text-shadow: 1px 1px 2px white;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}

.logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

#mern-logo {
  width: 75px;
}