@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap');

.home-container {
  background-image: linear-gradient(rgba(32, 178, 170, 0.8), white);
}

.home-img {
  border-radius: 30%;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 200%;
  color: white;
  text-shadow: 2px 2px 2px darkgray;
}

.name {
  font-family: "Merriweather", serif;
  font-size: 3.5rem;
  color: navy;
  text-shadow: 2px 2px 2px white;
  display: inline-block;
  vertical-align: top;
}

@keyframes wave {
  0%  {transform: rotate(0deg);}
  10% {transform: rotate(60deg);}
  20% {transform: rotate(0deg);}
  30% {transform: rotate(60deg);}
  40% {transform: rotate(0deg);}
}

.hand {
  display: inline-block;
  animation-name: wave;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes growth {
  0%    {font-size: 1rem;}
  50%  {font-size: 4rem;}
}

.grow {
  font-size: 4rem;
  display: inline-block;
  vertical-align: top;
  animation-name: growth;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}