@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Raleway&display=swap');

.navbar-brand, .nav-link {
  color: navy;
  transition: all 0.3s;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.navbar-brand.active {
  color: lightseagreen;
}

.navbar-brand:hover, .nav-link:hover {
  color: lightseagreen;
  transition: all 0.3s;
}

.navbar-nav .nav-link.active {
  color: lightseagreen;
}